fastapi
tortoise-orm
aerich
asyncpg
celery
redis
pydantic-settings
httpx
structlog
python-json-logger
respx
pytest
pytest-asyncio
pytest-mock
httptools
uvicorn
python-jose[cryptography]
bcrypt==3.2.2
passlib[bcrypt]

python-multipart
pyjwt
